body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
  padding: 1em 2em;
}
.navbar a {
  padding: 1em 1.34em;
  background-color: #232323;
  border: 0px #232323;
  border-radius: 4.8em;
  text-decoration: none;
  display: inline-block;
  color: white;
}
.timer {
  display: flex;
  margin-bottom: 10px;
}

.pageBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15%;
  align-items: center;
}
#tedxlogo {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
#titleLanding {
  text-align: center;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.rightLanding {
  display: flex;
  flex-direction: column;
  width: 35vw;

  margin: 2% 1.5%;
}
#countdown li {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 8vw;
  max-width: 24%;
  min-width: 72px;
  max-height: 10em;
  min-height: 70px;
  font-size: 0.6em;
  font-weight: bold;
  list-style-type: none;
  background-color: white;
  color: black;
  border: 0px white;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* margin: 2% 1.5%;
  padding: 2em 0.01em; */
}

#countdown ul {
  padding: 0;
}
#countdown li span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  font-weight: lighter;
  font-size: 2rem;
  font-weight: 900;
}
#register {
  background-color: #232323;
  color: white;
  border: 0px #232323;
  height: 10vw;
  width: 35vw;

  max-width: 100%;
  min-width: 300px;
  max-height: 125px;
  min-height: 100px;

  align-items: center;
  border-radius: 30px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0 10px 0 0px;
  padding: 2rem 0.01em;
}
#logocount {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  height: 60vh;
}
#equinoxlogo {
  margin-right: 10px;
  width: 35vw;
  max-width: 420px;
  max-height: 250px;
  min-width: 300px;
  min-height: 155px;
}
#logocount li {
  margin: 2px;
}
/* 
landing page 
*/

/*Speakers */
.speakers {
  height: 100vh;
  background: var(--black, #000);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.lefty {
  flex-basis: 0;
  margin-top: 4vh;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.righty {
  float: right;
  flex-basis: 0;
  margin-top: 2vh;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headSpkrs {
  display: flex;
  border-radius: 40px;
  background: var(--white, #faf9f6);
  /* padding: 36px 333px 36px 50px; */
  align-items: center;
}
.spkrsText {
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  margin-left: 36px;
  color: #232323;
}

.spkrsAbout-l {
  display: flex;
  /*width: 595px;*/

  padding: 1vw 1.5vw;
  /* margin-top: 2vh; */
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--red, #ff2b06);
}

.spkrsAboutText-l {
  /* width: 520px; */
  min-height: 375px;
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #232323;
}

.spkrsAbout-r {
  display: flex;
  padding: 1vw 1.5vw;
  /* width: 595px;
  height: 230px;
  padding: 42px 30px;
  margin-top: 2vh; */
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--light-black, #232323);
}

.spkrsAboutText-r {
  /* width: 520px; */
  min-height: 375px;
  color: var(--white, #faf9f6);

  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.spkrLayer {
  display: flex;
  height: min-content;
  /* margin-top: 2vh; */
  justify-content: flex-start;
}
.spkrsPhoto-l {
  border-radius: 40px;
  background: var(--light-black, #232323);
  width: 158px;
  height: 158px;
}
.spkrsPhoto-r {
  border-radius: 40px;
  background: var(--red, #ff2b06);
  width: 158px;
  height: 158px;
}
.spkrsTitleBlock-l {
  display: flex;
  flex: 1;
  padding: 10px 10px 10px 10px;
  margin-left: 2vh;
  background: var(--light-black, #232323);
  border-radius: 40px;
}
.spkrsTitleBlock-r {
  display: flex;
  flex: 1;
  padding: 10px 10px 10px 10px;
  margin-left: 2vh;
  background: var(--red, #ff2b06);
  border-radius: 40px;
}
.spkrsTitle-l {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.spkrsTitle-r {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.spkrsTitleText-1-l {
  color: var(--white, #faf9f6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.spkrsTitleText-2-l {
  color: var(--white, #faf9f6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.spkrsTitleText-1-r {
  color: var(--light-black, #232323);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.spkrsTitleText-2-r {
  color: var(--light-black, #232323);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.spkrsNav {
  display: flex;
  margin-top: 2vh;
}
.arrowL {
  display: flex;
  /* width: 290px; */
  height: 68px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 70px;
  background: var(--white, #faf9f6);
  width: 50%;
}

.arrowR {
  display: flex;
  width: 50%;
  /* height: 140px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 4vh;
  border-radius: 70px;
  background: var(--white, #faf9f6);
}

@media screen and (max-width: 825px) {
  /* count logo */
  .pageBody {
    margin: 0 5% 0 5%;
    justify-content: center;
    align-items: center;
  }
  #logocount {
    flex-direction: column;
    width: fit-content;
  }
  #equinoxlogo {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 70vw;
    max-width: 500px;
    max-height: 260px;
    min-width: 100%;
    min-height: 155px;
  }
  .rightLanding {
    width: auto;
    margin-top: 15px;
  }
  #register {
    background-color: #232323;
    color: white;
    border: 0px #232323;
    height: 10vw;
    width: 70vw;
  }

  /* About */
  .aboutpage {
    flex-direction: column;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .aboutpage .content {
    width: 70vw !important;
    margin-top: 10px;
  }
  /*SPeakers*/
  .speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .lefty {
    margin-left: 0vb;
  }
  .righty {
    margin-left: 0vb;
  }

  .headSpkrs {
    flex-shrink: 0;
    border-radius: 2.5rem;
  }
  .spkrsText {
    text-align: center;
    width: max-content;
    font-size: 2.5rem;
    line-height: normal;
  }
  .arrowL {
    width: 45%;
  }
  .arrowR {
    width: 45%;
  }

  /*Contact*/
  .contactpage {
    flex-direction: column;
  }
  .leftcontactcontainer {
    width: 90vw !important;
  }
}

@media screen and (max-width: 420px) {
  .speakers {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}

/*     sponsors section  */

.heading-section {
  display: flex;
  border-radius: 40px;
  background: var(--white, #faf9f6);
  /*padding: 36px 333px 36px 50px;*/
  align-items: center;
  width: auto;
}
.heading-section-text {
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  margin-left: 36px;
  color: #232323;
}

.twoBlocks {
  margin-top: 7em;
  display: flex;
  /* gap: 3em; */
  margin-bottom: 7em;
  justify-content: center;
  height: 80vh;
}

.left-sponsors-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35vw;
  min-width: 35vw;
  /* gap: 2em; */
}

.leftBlock {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* gap: 2em; */
}
.right-sponsors-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 35vw;
  max-width: 35vw;
  /* gap: 2em; */
}

.rightBlock {
  display: flex;
  justify-content: center;
  /* gap: 2em; */
}

.sponsor-section {
  background: #232323;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  /* height: 16em;
  width: 20em; */
  align-items: center;
  justify-content: center;
}

.sponsor-section-1 {
  background: #ff2b06;
  border-radius: 45px;
  /* height: 16em;
  width: 20em; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btninst {
  /* width: 9em;
  height: 4em; */
  flex-shrink: 0;
  padding: 0;
  border: none;
  background: #ff2b06;
  border-radius: 70px;
}
.btnfcb {
  /* width: 9em;
  height: 4em; */
  flex-shrink: 0;
  padding: 0;
  border: none;
  background: #ff2b06;
  border-radius: 70px;
}
.btn1inst {
  /* width: 9em;
  height: 4em; */
  flex-shrink: 0;
  padding: 0;
  border: none;
  background: #232323;
  border-radius: 70px;
}
.btn1fcb {
  /* width: 9em;
  height: 4em; */
  flex-shrink: 0;
  padding: 0;
  border: none;
  background: #232323;
  border-radius: 70px;
}

.instb {
  width: 20%;
  background: #ff2b06;
}

.fcbb {
  width: 20%;
  background: #ff2b06;
  align-items: center;
}

.fcbr {
  width: 20%;
  background: #232323;
}

.instr {
  width: 20%;
  background: #232323;
}

.slogo {
  /* width: 9.0625rem;
  height: 9.0625rem; */
  flex-shrink: 0;
  border-radius: 5rem;
  background: var(--white, #faf9f6);
}

.sun_img {
  margin-top: 1em;
  /* width: 442.87px;
  height: 110px; */
  flex-shrink: 0;
  border-radius: 40px;
  max-width: 35vw;
}

.bottombox {
  height: 9em;
  background: #faf9f6;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

.logos {
  display: flex;
  justify-content: center;
  /* gap: 2em; */
}

/*  ends here */

/*About Page*/
.aboutpage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 10px;
  margin: 10vh 0;
  height: 90vh;
  /* position: relative; */
}
.aboutContainer {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  gap: 10px;
}
.leftaboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.about {
  display: flex;
  /* justify-content: center; */

  align-items: center;
  background: #faf9f6;
  border-radius: 40px;
}
.aboutcontent {
  /* position: relative; */

  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  margin-left: 36px;
  color: #232323;
}
.aboutpage .content {
  display: flex;
  justify-content: center;
  align-items: stretch;

  background: #ff2b06;
  border-radius: 40px;
  padding: 25px;
  width: 33vw;
}
.aboutpage .content .text {
  /* position: absolute; */

  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #232323;
}

.aboutpage .imagesection {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  background: #232323;
  border-radius: 40px;
}
.aboutpage .imagesection .image {
  /* position: absolute; */
  width: 35vw;
  max-width: 420px;
  max-height: 100%;
  min-width: 300px;
  min-height: 155px;
}

.contactpage {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: black;
}
.leftcontactcontainer {
  display: flex;
  width: 34vw;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rightcontactcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.contacticonscontainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.contact {
  display: flex;
  flex: 1;
  align-items: center;
  /* width: 595px;
  height: 140px; */
  left: 30px;
  top: 30px;
  width: inherit;
  background: #faf9f6;
  border-radius: 40px;
}
.contactcontent {
  margin-left: 36px;
  display: flex;
  flex: 1;
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  margin-left: 36px;
  color: #232323;
  /* width: 322px;
  height: 68px; */
}

.contactpage .imagesection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 595px;
  height: 550px; */
  left: 655px;
  top: 30px;
  background: #232323;
  border-radius: 40px;
}

.contactpage .imagesection .image {
  width: 35vw;
  max-width: 420px;
  max-height: 100%;
  min-width: 300px;
  min-height: 155px;
  left: calc(50% - 508.81px / 2 - 0.1px);
  top: calc(50% - 490px / 2);
}

.contactpage .leftcontactcontainer .mail,
.phone,
.address {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* width: 595px;
  height: 100px; */
  left: 30px;
  top: 200px;
  background: #ff2b06;
  border-radius: 70px;
}
.contactpage .leftcontactcontainer .mail .content {
  flex: 1;
  /* width: 363px;
  height: 43px; */
  width: 100%;
  left: calc(50% - 363px / 2);
  top: calc(50% - 43px / 2 + 0.5px);
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #232323;
}
.contactpage .phone .content {
  /* position: absolute; */
  /* width: 266px;
  
  height: 43px; */
  width: 100%;
  flex: 1;
  left: calc(50% - 266px / 2 + 0.5px);
  top: calc(50% - 43px / 2 + 0.5px);
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #232323;
}
.contactpage .address .content {
  /* position: absolute; */
  /* width: 489px;
  height: 64px; */
  left: calc(50% - 489px / 2);
  top: calc(50% - 64px / 2);
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #232323;
}
.contactpage .facebook,
.instagram,
.linkedin {
  display: flex;
  /* width: 178px;
  height: 80px; */
  background: #ff2b06;
  border-radius: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33%;
}
.contactpage .facebook .icon {
  display: flex;
  /* position: absolute; */
  /* width: 40px;
  height: 39.9px; */
  font-size: 52px;
  justify-content: center;
  align-items: center;
  color: blacks;
  text-align: center;
  left: calc(50% - 40px / 2);
  top: calc(50% - 39.9px / 2 - 0.05px);
  /* background: #232323; */
}
.contactpage .facebook a {
  color: #212121;
  text-decoration: none;
}
.contactpage .instagram .icon {
  /* position: absolute; */
  display: flex;
  align-items: center;
  /* width: 40px;
  height: 40px; */
  left: calc(50% - 40px / 2);
  top: calc(50% - 40px / 2);
  font-size: 52px;
}
.contactpage .instagram a {
  color: black;
  text-decoration: none;
}
.contactpage .linkedin .icon {
  /* position: absolute; */
  display: flex;
  align-items: center;
  /* width: 40px;
  height: 40px; */
  left: calc(50% - 40px / 2);
  top: calc(50% - 40px / 2);

  font-size: 52px;
}
.contactpage .linkedin a {
  color: black;
  text-decoration: none;
}

.contactpage .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 595px;
  height: 80px; */
  left: 655px;
  top: 610px;
  background: #faf9f6;
  border-radius: 60px;
}
.contactpage .copyright .content {
  /* width: 382px;
  height: 41px; */
  left: calc(50% - 382px / 2 + 0.5px);
  top: calc(50% - 41px / 2 + 0.5px);

  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  text-align: center;

  /* Light Black */
  color: #232323;
}
